# Don't upload test data, package config, etc. to AppEngine.
webapp/components/test/
webapp/static/24278ab617/
webapp/static/wptd-metrics/
webapp/test/
webapp/.eslintrc.json
webapp/README.md
webapp/package-lock.json
webapp/package.json
webapp/wct.conf.json
docs/
git/
ISSUE_TEMPLATE/
modulizer_out/
revisions/
results-processor/
webdriver/
client-secret.json.enc
Dockerfile
LICENSE
Makefile